In [2]:
import pandas as pd
df = pd.read_csv("adult.data.csv")

In [4]:
    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df["race"].value_counts()

    # What is the average age of men?
    average_age_men = df.loc[df['sex'] == 'Male',"age"].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors =(df.loc[df['education'] == 'Bachelors','education'].count()/df['education'].count())*100

In [20]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [42]:
total_student_count = df['education'].count()
print(total_student_count)

32561

In [53]:
df_salary = df.loc[df['salary'] == '>50K']
higher_education = df[df['education'].isin(['Bachelors', 'Masters','Doctorate'])]
lower_education =  df[~df['education'].isin(['Bachelors', 'Masters','Doctorate'])]

lower_education[salary_filter]['education'].count()

4355

In [43]:
advance_education_count = df_salary['education'].isin(['Bachelors', 'Masters','Doctorate']).count()
normal_Education_count = total_student_count - advance_education_count
print(advance_education_count)

7841

In [123]:
higher_education_rich = ((higher_education[salary_filter]['education'].count()/higher_education['education'].count())*100).round(2)
lower_education_rich = ((lower_education[salary_filter]['education'].count()/lower_education['education'].count())*100).round(2)

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [58]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [60]:
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [61]:
num_min_workers = df[df['hours-per-week']== min_work_hours]

In [64]:
rich_percentage = ((num_min_workers[salary_filter]['salary'].count()/num_min_workers['salary'].count())*100).round(2)

10.0

 # What country has the highest percentage of people that earn >50K?

In [72]:
people_count = df['native-country'].value_counts()

In [73]:
people_count_withfilter = df[salary_filter]['native-country'].value_counts()

In [71]:
(7171/29170)*100

24.583476174151524

In [98]:
all_Country = ((people_count_withfilter/people_count)*100).round(2)
print(all_Country)

?                             25.04
Cambodia                      36.84
Canada                        32.23
China                         26.67
Columbia                       3.39
Cuba                          26.32
Dominican-Republic             2.86
Ecuador                       14.29
El-Salvador                    8.49
England                       33.33
France                        41.38
Germany                       32.12
Greece                        27.59
Guatemala                      4.69
Haiti                          9.09
Holand-Netherlands              NaN
Honduras                       7.69
Hong                          30.00
Hungary                       23.08
India                         40.00
Iran                          41.86
Ireland                       20.83
Italy                         34.25
Jamaica                       12.35
Japan                         38.71
Laos                          11.11
Mexico                         5.13
Nicaragua                      5.88
Outlying-US(Guam-USVI-etc)      NaN
Peru                           6.45
Philippines                   30.81
Poland                        20.00
Portugal                      10.81
Puerto-Rico                   10.53
Scotland                      25.00
South                         20.00
Taiwan                        39.22
Thailand                      16.67
Trinadad&Tobago               10.53
United-States                 24.58
Vietnam                        7.46
Yugoslavia                    37.50
Name: native-country, dtype: float64

In [82]:
df_result = pd.DataFrame(v, columns=[v.max()])

In [87]:
for key,value in v.iteritems():
    print(key , ": ", value)

? :  25.04288164665523
Cambodia :  36.84210526315789
Canada :  32.231404958677686
China :  26.666666666666668
Columbia :  3.389830508474576
Cuba :  26.31578947368421
Dominican-Republic :  2.857142857142857
Ecuador :  14.285714285714285
El-Salvador :  8.49056603773585
England :  33.33333333333333
France :  41.37931034482759
Germany :  32.11678832116788
Greece :  27.586206896551722
Guatemala :  4.6875
Haiti :  9.090909090909092
Holand-Netherlands :  nan
Honduras :  7.6923076923076925
Hong :  30.0
Hungary :  23.076923076923077
India :  40.0
Iran :  41.86046511627907
Ireland :  20.833333333333336
Italy :  34.24657534246575
Jamaica :  12.345679012345679
Japan :  38.70967741935484
Laos :  11.11111111111111
Mexico :  5.132192846034215
Nicaragua :  5.88235294117647
Outlying-US(Guam-USVI-etc) :  nan
Peru :  6.451612903225806
Philippines :  30.808080808080806
Poland :  20.0
Portugal :  10.81081081081081
Puerto-Rico :  10.526315789473683
Scotland :  25.0
South :  20.0
Taiwan :  39.21568627450981
Thailand :  16.666666666666664
Trinadad&Tobago :  10.526315789473683
United-States :  24.583476174151524
Vietnam :  7.462686567164178
Yugoslavia :  37.5

In [88]:
v.max().key

AttributeError: 'float' object has no attribute 'key'

In [89]:
dff =  v

In [96]:
dff[dff == dff.max()].index[0]

'Iran'

In [99]:
highest_earning_country = all_Country[all_Country == all_Country.max()].index[0]
print(highest_earning_country)
highest_earning_country_percentage = all_Country.max()
print(highest_earning_country_percentage)

Iran
41.86

# Identify the most popular occupation for those who earn >50K in India.

In [115]:
result = df[salary_filter & (df['native-country']=='India')].groupby('occupation').age.count()

In [119]:
result[result==result.max()].index[0]

'Prof-specialty'

In [126]:
type(round(higher_education_rich,1))

numpy.float64